@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "vazir";
    src: url(./fonts/Vazir/ttf/Vazir-Regular.ttf) format("turetype"),
      url(./fonts/Vazir/woff/Vazir-Regular.woff) format("woff"),
      url(./fonts/Vazir/woff2/Vazir-Regular.woff2) format("woff2");
  }
}

@layer base {
  @font-face {
    font-family: "vazirBlack";
    src: url(./fonts/Vazir/ttf/Vazir-Black.FD.ttf) format("turetype"),
      url(./fonts/Vazir/eot/Vazir-Black.FD.eot) format("eot"),
      url(./fonts/Vazir/woff/Vazir-Black.FD.woff) format("woff"),
      url(./fonts/Vazir/woff2/Vazir-Black.FD.woff2) format("woff2");
  }
}

@layer components {
  .btn {
    @apply bg-[#ff0066] py-3 px-10 rounded-md font-bold transition duration-1000 ease-in-out text-white hover:bg-white hover:text-black;
  }

  .li {
    @apply p-3 text-lg text-white;
  }
}
